<form action="update">
<table>

  <tr>
      <td>User ID :</td>
      <td><input type = "text" name = "id" value="<%=@user.id%>"/> </td>
  </tr>

<tr>
    <td>User Name : </td>
    <td><input type = "text" name = "unm" value="<%= @user.username %>" disabled="true" /> </td>
</tr>

 <tr>
    <td> Password : </td>
    <td> <input type="password" name="upd" /> </td>
  </tr>

  <tr>
    <td><input type = "Submit" value = "Update" /></td>

  </tr>

 </table>
</form>