<form>
<table>
  <tr>
    <td> Username : </td>
    <td><input type="text" name="unm" /> </td>
  </tr>

   <tr>
    <td> Password : </td>
    <td> <input type="password" name="pwd" /> </td>
  </tr>

  <tr>
    <td> <input type="Submit" value="Submit" /> </td>

  </tr>
</table>
</form>